REQUIRED PYTHON VERSION:
Python 3.9 or higher is required. We used Python 3.9, so if "or higher" doesn't work try "not higher".

REQUIRED PACKAGES (install using pip install or equivalent):
wxpython
os
sys